RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !
RewriteRule ^(.*)$ https://agathebevia.fr/$1 [R=301,L]


<IfModule mod_alias.c>
	RedirectMatch 301 ^//(.*)$ https://agathebevia.com/$1
</IfModule>