/* BASIC**********************/
* {
    padding: 0;
    margin: 0;
}

:root{
    /* font */
    --font-title : 6vw;

    /* colors */
    --color-black : #252525;
  }
  
  @font-face {
    font-family: mafont;
    src: url(https://fonts.cdnfonts.com/css/helvetica-neue-9);
  }

  html, body {
    position: relative;
    overflow-x: hidden;
    font-family: 'mafont', sans-serif;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: var(--color-black);
  }

/* NAVBAR ******************************/
nav {
    color: #ab4f4f;
    background-color: white;
    font-size: var(--font-title);
    text-transform: uppercase;
    width: 100%;
    height: 60px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 20px 0px 20px;
}

.nav-title {
    letter-spacing: 0.1em;
    color: #ab4f4f;
    text-decoration: none;
}

.nav-hamburger {
    width: 20px;
}

.hamburger {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    transition: 0.4s;
}

.hamburger-volet {
    display: none;
    background-color: white;
    width: 100vw;
    position: absolute;
    right: 0;
    height: 100vh;
    z-index: 1;
    transform: translateX(100%);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    padding-left: 20px;
}

.hamburger-menu a {
    color: var(--color-black);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-weight: bold;
}

/* HOME*******************************************/
.home {
    height: 100vh;
    width: 100vw;
}

.home-cat-left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    transition: 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
}

.home-cat-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;
    transition: 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
}

.home-cat-text {
    transition: 0.2s;
    background-color: rgba(33, 33, 33, 0.445);
    width: 100%;
    /* text-align: center; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    color: #a0a0a0;
}

.home-cat-voir {
    position: absolute;
    bottom: 0;
    transition: 0.2s;
    opacity: 0;
}

/* FOOTER *********************************/
.footer-row {
    height: 100px;
    width: 89%;
    padding: 0px 20px 0px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:rgba(33, 33, 33, 0.445) 0px 0px 1px 0px;
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.footer-mail {
    border: 1px solid black;
}

.footer-row i {
    color : black;
    font-size: 15px;
}