{% extends 'base.html.twig' %}

{% block title %}Agathe Bevia{% endblock %}

{% block body %}
<div class="home">
    <div class="home-cat-left" style="background-image: url({{ asset("photos/photo55.jpg") }});">
        <div class="home-cat-text home-cat-text-left">Argentique</div>
        <div class="home-cat-voir home-cat-voir-left"><a href="{{ path('app_argentique')}}"><i class="fa-solid fa-arrow-left"></i></a></div>
    </div>
    <div class="home-cat-right" style="background-image: url({{ asset("photos/photo56.jpg") }});">
        <div class="home-cat-text home-cat-text-right">Numérique</div>
        <div class="home-cat-voir home-cat-voir-right"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
    <div></div>
</div>
{% endblock %}